!bazel-*.rc
*.gen.scala
*.idea
*.swp
*~
.DS_store
.\#*
.bazel_cache
.neo4j
/.classpath
/.factorypath
/.idea/
/.ijwb/
/.project
/.settings
/.vscode/
/bazel.iml
/external-tools/
\#*\#
bazel-*
hash1
hash2
target/
